<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/signin.css}" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ログイン</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a th:href="@{/signup}">Sign Up</a></li>
        <li class="tab"><a th:href="@{/login}">Log In</a></li>
    </ul>

    <div class="tab-content">
        <div id="registMember">
            <h1>メンバー登録</h1>

            <form th:action="@{/registMember}" method="post">

                <div class="top-row">
                    <div class="field-wrap">
                        <label>
                            姓<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off" />
                    </div>

                    <div class="field-wrap">
                        <label>
                            名<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off"/>
                    </div>
                </div>

                <div class="field-wrap">
                    <label>
                        ESQ ID<span class="req">*</span>
                    </label>
                    <input type="text" required autocomplete="off"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" required autocomplete="off"/>
                </div>

                <button type="submit" class="button button-block"/>メンバー登録</button>

            </form>

        </div>

        <div id="login">
            <h1>ログイン</h1>

            <form th:action="@{/logIn}" method="post">

                <div class="field-wrap">
                    <label>
                        ESQ ID<span class="req">*</span>
                    </label>
                    <input type="text"required autocomplete="off"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input type="password"required autocomplete="off"/>
                </div>

                <p class="forgot"><a th:href="@{/resetPassword}">Forgot Password?</a></p>

                <button class="button button-block"/>ログイン</button>

            </form>

        </div>

    </div><!-- tab-content -->

</div> <!-- /form -->
</body>
</html>