.form-login {
    height: 100vh; /* ビューポートの高さいっぱいに要素を表示 */
    display: flex; /* 子要素をフレックスボックスにする */
    justify-content: center; /* 水平方向に中央寄せ */
    align-items: center; /* 垂直方向に中央寄せ */
}

.form-login form {
    max-width: 400px; /* フォームの最大幅を設定 */
    padding: 15px; /* フォームのパディングを追加 */
    width: 100%; /* 幅を100%に設定 */
    background-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}

.form-login label {
    color: #555;
}

.forgot {
    margin-top: 15px;
}

.forgot a{
    color: #555;
    text-decoration: none;
}

.forgot a:hover{
    text-decoration: underline;
}

.create-new-account {
    margin-top: 15px;
}

.create-new-account a {
    color: #0d6efd;
    text-decoration: none;
}

.create-new-account a:hover {
    color:#0b5ed7;
}